<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: ffff99;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="creat">Creat User</a>
    </div>
    <!-- <div class="form-add-user">
        <form action="/creat-user" method="post">
            <fieldset class="field-set">
                <legend>Add new users</legend>


                <div class="input-group">
                    <label>Email</label>
                    <input type="text" name="email" id="emailID">
                </div>
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" name="name" id="nameID">
                </div>
                <div class="input-group">
                    <label>City</label>
                    <input type="text" name="city" id="cityID">
                </div>
                <div>
                    <button class="button-add-user">Save</button>
                </div>
            </fieldset>
        </form>
    </div> -->
    <div class="table-container">
        <!-- <%= JSON.stringify(listUsers) %>  use JSON.stringify to convert listUsers from object to string  -->
        <div class="list-user">List User</div>
        <table>
            <tr>
                <th>Index</th>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
                <tr>
                    <td> <%= listUsers[i].id%> </td>
                    <td><%= listUsers[i].email%></td>
                    <td><%= listUsers[i].name%> </td>
                    <td><%= listUsers[i].city%> </td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                <% } %> -->
            <!-- user forEach instead of just for to loop table row -->
            <% listUsers.forEach(function(user,index) { %>
                <tr>
                    <td>
                        <%= index %>
                    </td>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                    <% }); %>


        </table>
    </div>
</body>

</html>